.dotfiles

# Ignore everything
*

# except
!.config
!.config/nvim/*
.config/nvim/undodir
!.config/nvim/*/*
!.config/herbstluftwm
!.config/herbstluftwm/*

!.shell
!.shell/*.sh
!.shell/*.zsh
!.shell/oceanic_next_suckless_terminal.h

scripts

!.gitignore
!.spacemacs
!.zshrc
!README.md

